.button {
  position: relative;
  cursor: pointer;
}

.button__menu-button {
  color: var(--fourth-color);
  font-style: inherit;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-first);
}

.button__menu-button_hover {
  color: var(--second-color);
  font-weight: var(--font-weight-second);
}

.button__select-button {
  color: var(--fourth-color);
  font-style: inherit;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-first);
}
.button__select-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 59px;
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__search-button {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  background-color: var(--fifth-color);
  background-image: url(./assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__favorites-button {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  background-color: var(--fifth-color);
  background-image: url(./assets/icons/favorites.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button__shopping-button {
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  background-color: var(--fifth-color);
  background-image: url(./assets/icons/shopping.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 49px;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  text-align: center;
  color: var(--fifth-color);
  background-color: var(--first-color);
  border-radius: 5px;
}

.button__shop-now-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 49px;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  text-align: center;
  color: var(--first-color);
  background-color: var(--fifth-color);
  border-radius: 5px;
}

.button__shop-now-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 128px;
  width: 32px;
  height: 20px;
  background-image: url(./assets/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__shop-now-button_black {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 49px;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  text-align: center;
  color: var(--fifth-color);
  background-color: var(--second-color);
  border-radius: 5px;
}

.button__shop-now-button_black::after {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 128px;
  width: 32px;
  height: 20px;
  background-image: url(./assets/icons/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__shop-now-text {
  position: relative;
  left: -21px;
}

.button__add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 42px;
  font-size: var(--font-size-third);
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  text-align: center;
  color: var(--fifth-color);
  background-color: var(--second-color);
  border-radius: 5px;
}

.button__regular {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 49px;
  font-size: var(--font-size-fifth);
  font-weight: var(--font-weight-second);
  text-transform: uppercase;
  text-align: center;
  color: var(--fifth-color);
  background-color: var(--first-color);
  border-radius: 5px;
}

/* Active Styles */

.button__select-button:active {
  color: rgba(255, 255, 255, 0);
}
.button__select-button:active::before {
  content: attr(name);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-second);
}
.button__select-button:active:after {
  background-image: url(./assets/icons/arrow-hover.svg);
}

.button__menu-button:active {
  color: rgba(255, 255, 255, 0);
}
.button__menu-button:active::before {
  content: attr(name);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-second);
  white-space: nowrap;
}

.button__search-button:active {
  background-color: var(--first-color);
  background-image: url(./assets/icons/search-active.svg);
}
.button__favorites-button:active {
  background-color: var(--first-color);
  background-image: url(./assets/icons/favorites-active.svg);
}
.button__shopping-button:active {
  background-color: var(--first-color);
  background-image: url(./assets/icons/shopping-active.svg);
}

.button__sign-in-button:active {
  color: var(--first-color);
  background-color: var(--fifth-color);
  border: 1px solid var(--first-color);
}

.button__shop-now-button:active {
  color: var(--fifth-color);
  background-color: var(--first-color);
}

.button__shop-now-button:active:after {
  background-image: url(./assets/icons/arrow-right-white.svg);
}

.button__add-cart:active {
  color: var(--second-color);
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
}

.button__shop-now-button_black:active:after {
  background-image: url(./assets/icons/arrow-right-black.svg);
}
.button__shop-now-button_black:active {
  color: var(--second-color);
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
}

.button__regular:active {
  color: var(--first-color);
  background-color: var(--button-color-fifth);
  border: 1px solid var(--first-color);
}

/* Media Query */
@media (max-width: 1430px) {
  .button__select-button::after {
    left: 52px;
  }
  .button__select-button_hover::after {
    left: 52px;
  }

  .button {
    width: 100%;
  }

  .button__add-cart {
    width: 100%;
  }
}
