.menuAnimation {
  width: 100%;
}

.menuAnimation_unblur {
  filter: blur(0);
  animation: 0.2s 1 unblur;
}

.menuAnimation_blur {
  filter: blur(10px);
  animation: 0.2s 1 blur;
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }

  to {
    filter: blur(0);
  }
}

@keyframes blur {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(10px);
  }
}
