/* PP 0.9995 */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Palette */
  --first-color: #9e3040;
  --second-color: #232323;
  --third-color: #f3f5f6;
  --fourth-color: #686868;
  --fifth-color: #ffffff;
  --sixth-color: #696969;
  --seventh-color: #f6f6f6;
  --ninth-color: #303030;

  /* Sizes */
  --max-width: 1440px;

  /* Fonts */
  --font-first: 'Hind Siliguri', sans-serif;
  --font-second: 'Open Sans', sans-serif;

  --font-size-first: 14px;
  --font-size-second: 15px;
  --font-size-third: 16px;
  --font-size-fourth: 17px;
  --font-size-fifth: 18px;
  --font-size-sixth: 24px;
  --font-size-seventh: 30px;
  --font-size-eigth: 36px;
  --font-size-ninth: 58px;
  --font-size-tenth: 64px;

  --font-weight-first: 400;
  --font-weight-second: 500;
  --font-weight-third: 600;
  --font-weight-fourth: 700;

  /* Media */
  --media-query: 1440px;

  /* Global Values */
  --view-global-padding: 40px;
}

body,
button {
  font-family: var(--font-first);
}

main {
  min-height: 100%;
}

.global__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
