.productPage {
  display: flex;
  justify-content: center;
  min-height: 100%;
}
.productPage__content-wrapper {
  box-sizing: border-box;
  width: var(--max-width);
  padding: 10px var(--view-global-padding);
}

.productPage__search-result {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1430px) {
  .productPage__content {
    box-sizing: border-box;
  }

  .productPage__search-result {
    gap: 10px 10px;
  }

  .productPage__product {
    width: calc((100% - 20px) / 3);
    min-width: 229px;
    max-width: 432px;
    height: 418px;
  }
}
