.logOut {
  position: absolute;
  top: 0px;
  left: 66px;
  height: 49px;
  width: 49px;
}

.userInfoButton {
  position: absolute;
  top: 0px;
  right: 62px;
  height: 49px;
  width: 49px;
}

.authBox {
  position: absolute;
  top: 55px;
  left: -178px;
}

.userBox {
  position: absolute;
  top: 55px;
  left: -213px;
}
