.shoppingButtonsBox_authorized {
  position: relative;
  left: 20px;
}

.signInButtonBox_authorized {
  position: relative;
  left: 34px;
}
.signInButtonBox {
  position: relative;
  left: -28px;
}

.logOut {
  position: absolute;
  top: 0px;
  left: 66px;
  height: 49px;
  width: 49px;
}

.userInfoButton {
  position: absolute;
  top: 0px;
  right: 62px;
  height: 49px;
  width: 49px;
}

.authBox {
  position: absolute;
  top: 55px;
  left: -178px;
}

.userBox {
  position: absolute;
  top: 55px;
  left: -213px;
}

@media (max-width: 1430px) {
  .shoppingButtonsBox_authorized {
    position: relative;
    left: 50px;
  }
  .signInButtonBox {
    left: 0;
  }
}
