/* PP 0.9995 */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Palette */
  --bg-color-first: #f6f6f6;
  --bg-color-second: #f3f5f6;

  --text-color-first: #232323;
  --text-color-second: #9e3040;
  --text-color-third: #686868;
  --text-color-fourth: #232323;
  --text-color-fifth: #ffff;
  --text-color-sixth: #303030;

  --button-color-first: #ffffff;
  --button-color-second: #9e3040;
  --button-color-third: #232323;

  --card-color-first: #ffffff;

  --product-card-bg-color: #f3f5f6;

  --product-card-price-color: #9e3050;
  --product-card-old-price-color: #696969;

  --testimonials-bg-color: #9e3050;
  /* Sizes */
  --max-width: 1440px;

  /* Fonts */
  --font-first: 'Hind Siliguri', sans-serif;
  --font-second: 'Open Sans', sans-serif;

  --font-size-first: 14px;
  --font-size-second: 15px;
  --font-size-third: 16px;
  --font-size-fourth: 17px;
  --font-size-fifth: 18px;
  --font-size-sixth: 24px;
  --font-size-seventh: 30px;
  --font-size-eigth: 36px;
  --font-size-ninth: 58px;
  --font-size-tenth: 64px;

  --font-weight-first: 400;
  --font-weight-second: 500;
  --font-weight-third: 600;
  --font-weight-fourth: 700;

  /* Media */
  --media-query: 1440px;

  /* Global Values */
  --view-global-padding: 40px;
}

body,
button {
  font-family: var(--font-first);
}

main {
  min-height: 100vh;
}

.global__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
