/* PP 0.9995 */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600&display=swap');

:root {
  /* Palette */
  --bg-color-first: #f6f6f6;
  --text-color-first: #232323;
  --text-color-second: #9e3040;

  /* Sizes */
  --font-size-small: 14px;
  --font-size-l: 18px;

  /* Fonts */

  /* Media */
  --media-query: 1440px;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}
