body,
ul,
p {
  margin: 0;
}

h3,
h4 {
  margin: 0;
  font-size: inherit;
}

ul,
button {
  padding: 0;
  list-style: none;
}

button,
select {
  font-family: inherit;
  background-color: #ff00;
  border-style: none;
  border-width: 0;
}

select {
  -webkit-appearance: none;
}
