.logoAnimation_moveDown {
  position: relative;
  top: 0;
  animation: 0.2s 1 moveDownLogo;
}
@keyframes moveDownLogo {
  from {
    top: -30px;
  }

  to {
    top: 0;
  }
}

@media (max-width: 1250px) {
  .logoAnimation_moveUp {
    position: relative;
    top: -30px;
    animation: 0.2s 1 moveUpLogo;
  }

  @keyframes moveUpLogo {
    from {
      top: 0;
    }

    to {
      top: -30px;
    }
  }
}
