.contactUs {
  position: relative;
}

.contactUs__title {
  font-size: var(--font-size-seventh);
  font-weight: var(--font-weight-third);
}

.contactUs__link {
  font-family: var(--font-second);
  font-size: var(--font-size-fourth);
  white-space: break-spaces;
  line-height: 1.9;
}

.contactUs__list {
  position: relative;
  top: 14px;
  left: 46px;
}
.contactUs__list-item {
  position: relative;
  margin: 0 0 21px 0;
}

.contactUs__list-item:nth-of-type(2) {
  margin: 0 0 18px 0;
}

.contactUs__location-icon::after {
  content: '';
  position: absolute;
  top: 6px;
  left: -36px;
  display: block;
  width: 20px;
  height: 24px;
  fill: aqua;
  background-image: url(./assets/icons/location.svg);
  background-repeat: no-repeat;
  background-size: 17px;
}

.contactUs__phone-icon::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -39px;
  display: block;
  width: 26px;
  height: 24px;
  background-image: url(./assets/icons/phone.svg);
  background-repeat: no-repeat;
  background-size: 23px;
}

.contactUs__email-icon::after {
  content: '';
  position: absolute;
  top: 8px;
  left: -39px;
  display: block;
  width: 26px;
  height: 24px;
  background-image: url(./assets/icons/email.svg);
  background-repeat: no-repeat;
  background-size: 23px;
}
