.trendingProduct {
  display: flex;
  justify-content: center;
}

.trendingProduct__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--max-width);
}

.trendingProduct__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 188px;
  font-size: var(--font-size-eigth);
  font-weight: var(--font-weight-second);
  letter-spacing: -0.5px;
}

.trendingProduct__header-content {
  position: relative;
  top: 25px;
  left: -1px;
}

.trendingProduct__content {
  display: flex;
  gap: 24px;
}

.trendingProduct__product {
}

.trendingProduct__show-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
}
.trendingProduct__show-more-button .button {
  position: relative;
  top: -21px;
}
