.searchInputAnimation {
  position: relative;
  width: 100%;
  height: 100%;
}

.searchInputAnimation_open {
  animation: 0.2s 1 open;
}


@keyframes open {
  from {
    left: 2000px;
  }

  to {
    left: 0;
  }
}
/* .searchInputAnimation_open  */
.searchInputAnimation_close {
  animation: 0.2s 1 close;
}

@keyframes close {
  from {
    left: 0;
  }

  to {
    left: 2000px;
  }
}
