.shopNowBanner {
  display: flex;
  justify-content: center;
  height: 750px;
}

.shopNowBanner__content-wrapper {
  position: relative;
  width: var(--max-width);
}

.shopNowBanner__image-container {
  width: auto;
  height: auto;
  height: 100%;
}

.shopNowBanner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shopNowBanner__header {
  position: relative;
  top: 234px;
  left: 80px;
}

.shopNowBanner__header-text {
  font-size: var(--font-size-tenth);
  font-weight: var(--font-weight-second);
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: var(--text-color-fifth);
}

.shopNowBanner__text {
  position: relative;
  top: 245px;
  left: 80px;

  font-family: var(--font-second);
  font-size: var(--font-size-sixth);
  font-weight: var(--font-weight-first);
  color: var(--text-color-fifth);
}

.shopNowBanner__shop-now {
  position: relative;
  top: 278px;
  left: 81px;
}

@media (max-width: 1430px) {
  .shopNowBanner {
    height: 100%;
  }

  .shopNowBanner__image-container,
  .shopNowBanner__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    width: 100%;
  }
  .shopNowBanner__image-container {
    position: relative;
    overflow: hidden;
  }

  .shopNowBanner__header,
  .shopNowBanner__text,
  .shopNowBanner__shop-now {
    top: 0;
    left: 0;
  }

  .shopNowBanner__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 var(--view-global-padding);
  }
}
