.weAccept {
  position: relative;
}

.weAccept__title {
  font-size: var(--font-size-seventh);
  font-weight: var(--font-weight-third);
}

.weAccept__copyright {
  position: relative;
  top: 45px;
  left: 20px;
  font-family: var(--font-second);
  font-size: var(--font-size-second);
}

.weAccept__copyright::after {
  content: '';
  position: absolute;
  top: -16px;
  left: -20px;
  height: 0.1px;
  width: 359px;
  background-color: black;
}

.weAccept__link {
  font-family: var(--font-second);
  font-size: var(--font-size-fourth);
  white-space: break-spaces;
  line-height: 1.9;
}

.weAccept__list {
  position: relative;
  top: 13px;
  left: 18px;
  display: flex;
  flex-wrap: wrap;
}

.weAccept__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 53px;
  margin: 0 25px 18px 0;
  border-radius: 20px;
  overflow: hidden;
}

.weAccept__visa-icon::after {
  content: '';
  display: block;
  width: 57px;
  height: 40px;
  background-image: url(./assets/icons/visa.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__list-item:nth-of-type(2) {
  top: 6px;
  left: 1px;
  width: 67px;
  height: 47px;
  border-radius: 16px;
}
.weAccept__discoverNetwork-icon::after {
  content: '';
  display: block;
  width: 67px;
  height: 47px;
  background-image: url(./assets/icons/discoverNetwork.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__list-item:nth-of-type(3) {
  top: 6px;
  left: 2px;
  width: 67px;
  height: 47px;
  border-radius: 0px;
}
.weAccept__amExp-icon::after {
  content: '';
  display: block;
  width: 67px;
  height: 47px;
  background-image: url(./assets/icons/americanExpress.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__list-item:nth-of-type(4) {
  top: 7px;
  left: 5px;
  width: 67px;
  height: 47px;
  border-radius: 0px;
}
.weAccept__masterCard-icon::after {
  content: '';
  display: block;
  width: 67px;
  height: 47px;
  background-image: url(./assets/icons/masterCard.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__jcb-icon::after {
  content: '';
  display: block;
  width: 57px;
  height: 40px;
  background-image: url(./assets/icons/jcb.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__list-item:nth-of-type(6) {
  top: 6px;
  left: 2px;
  width: 63px;
  height: 47px;
  border-radius: 0px;
}
.weAccept__f-icon::after {
  content: '';
  display: block;
  width: 63px;
  height: 47px;
  background-image: url(./assets/icons/f.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.weAccept__list-item:nth-of-type(7) {
  top: 7px;
  left: 8px;
  width: 63px;
  height: 47px;
  border-radius: 0px;
}
.weAccept__payPal-icon::after {
  content: '';
  display: block;
  width: 63px;
  height: 47px;
  background-image: url(./assets/icons/paypal.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1430px) {
  .weAccept__list {
    max-width: 300px;
    gap: 20px;
  }
  .weAccept__list-item {
    width: 60px;
    height: 50px;
    margin: 0;
  }

  .weAccept__list-item:nth-of-type(1),
  .weAccept__list-item:nth-of-type(2),
  .weAccept__list-item:nth-of-type(3),
  .weAccept__list-item:nth-of-type(4),
  .weAccept__list-item:nth-of-type(5),
  .weAccept__list-item:nth-of-type(6),
  .weAccept__list-item:nth-of-type(7) {
    top: 0px;
    left: 0px;
  }

  .weAccept__visa-icon::after,
  .weAccept__discoverNetwork-icon::after,
  .weAccept__amExp-icon::after,
  .weAccept__masterCard-icon::after,
  .weAccept__jcb-icon::after,
  .weAccept__f-icon::after,
  .weAccept__payPal-icon::after {
    background-position: center;
  }

  .weAccept__list-item:nth-of-type(5) {
    top: -2px;
  }

  .weAccept__copyright {
    left: 0;
    text-align: center;
    max-width: 359px;
  }

  .weAccept__copyright::after {
    top: -16px;
    left: 5px;
    height: 0.1px;
    width: 100%;
    max-width: 359px;
  }
}
